{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div class="container">
<br>
    <p>APPLICANT STATEMENT<p/>
    <br>
    <p/>


I confirm that the information in my application is true and complete. False information may lead to dismissal. I authorize the company to check my references and previous employment history. I also allow them to obtain any necessary information from government agencies or credit agencies. I understand that my employment can be terminated at any time by either the company or me.
<p/>
<br>
<p>
Frantz Building Services may obtain a background report about you from Sterling Talent Solutions for your job application or employment. This report may contain information about your character, reputation, personal traits, and lifestyle, including credit history, criminal records, education, and employment history. If hired, the company may continue to obtain reports for employment purposes without further notice or consent. If an investigative report is obtained, it will include employment or personal references.
<p/>
<br>
<p>
I authorize Frantz Building Services to obtain a background report about me from Sterling Talent Solutions. This report may be used at any time during my employment, and I allow any agency or organization to provide information to Sterling Talent Solutions and the company. A photocopy or electronic version of this authorization is valid. I acknowledge receiving a copy of my rights under the Fair Credit Reporting Act.</p>
    <form action="#" method="post">
        <input type="hidden" name="position_id" value="{{ position_id }}">
        <input type="hidden" name="regional_manager" value="{{ regional_manager }}">
        <input type="hidden" name="account_manager" value="{{ account_manager }}">
        <input type="hidden" name="job_number" value="{{ job_number }}">

        <div class="checkbox">
            <input type="checkbox" name="i_acknowledge_receipt_and_understanding_of_the_above" id="acknowledge" required>
            <label for="acknowledge">I acknowledge receipt and understanding of the above</label>
        </div>

        <br>

        <label for="applicant_signature">Applicant Signature</label>
        <input type="text" name="applicant_signature" id="applicant_signature" required>

        <br>
        <br>

        <div class="inline">
            <label for="date_of_electronic_acknowledgement">Date of Electronic Acknowledgement</label>
            <input type="date" name="date_of_electronic_acknowledgement" id="date_of_electronic_acknowledgement" required>
        </div>

        <br>

        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
