<!DOCTYPE html>
<html>
<head>
    <title>Contact Information</title>
</head>
<body>
    <h1>Contact Information</h1>
    <ul>
        <li><b>First Name:</b> {{ contact.properties.firstname.value }}</li>
        <li><b>Last Name:</b> {{ contact.properties.lastname.value }}</li>
        <li><b>Phone:</b> {{ contact.properties.phone.value }}</li>
        <li><b>App Status:</b> {{ contact.properties.appstatus.value }}</li>
        <li><b>Best Way to Contact You:</b> {{ contact.properties.best_way_to_contact_you_.value }}</li>
        <li><b>Drug Test Result:</b> {{ contact.properties.drugtestresult.value }}</li>
        <li><b>HS Marketable Reason ID:</b> {{ contact.properties.hs_marketable_reason_id.value }}</li>
    </ul>
</body>
</html>
